<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Coach's Log{% endblock %}</title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
    >
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand text-white" href="/">Coach's Log</a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link text-white" href="/">Главная</a>
                <a class="nav-link text-white" href="/groups-page">Группы</a>
                <a class="nav-link text-white" href="/students-page">Ученики</a>
                <a class="nav-link text-white" href="/trainings-page">Тренировки</a>
                <a class="nav-link text-white" href="/payments-page">Оплаты</a>
                <a class="nav-link text-white" href="/finance-page">Финансы</a>
            </div>
        </div>
    </div>
</nav>

    <main class="container py-4">
        {% block content %}{% endblock %}
    </main>

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js">
    </script>
</body>
</html>